* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8854D0;
  color: white;
}

img {
  width: 40%;
}

td {
  width: 10%;
}

table {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  color: black;
}

table,
th,
td {
  border: 1px solid black;
  border-spacing: 0;
}

thead tr td {
  padding: 20px 0;
}

tbody tr td {
  padding: 10px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.random,
.byName,
.byPopularity {
  margin-right: 20px;
  cursor: pointer;
  padding: 10px;
}

.random {
  background-color: #51adcf;
}

.byName {
  background-color: #838383;
}

.byPopularity {
  background-color: #68b0ab;
}

